*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
background-color: #f1f2f3;
}
nav{
  border-top: 2px solid #f48225;
  width: 100%;
  padding: 10px;
  /* height: 50px; */
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  position: fixed;
  top: 0;
  z-index: 100;

}

.hamburger {
  position: absolute;
  /* a large z-index puts the ham button above the rest of the page*/
  z-index: 99;
  background: white;
  border: none;
  cursor: pointer;
  top: 4px;
  padding: 15px 5px 4px 10px;
  height: 60px;
  left: 60px;
  width: 50px;
  background-color: transparent;
}

.menu {
  position: fixed;
  /* give the menu a larger z-index than the ham link
  to put the menu above it */
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  height: 100vh;
  /* basic menu styling*/
  list-style: none;
  background: white;
  display: flex;
  flex-direction: column;
  /* animate slide up/down */
  transform: translateY(-200%);
  transition: linear 0.2s ease-in;
  padding: 20px;
  overflow-y:scroll;

}



/* Add a class to hide the close icon initially */
.close {
  position: absolute;
  /* a large z-index puts the ham button above the rest of the page*/
  z-index: 99;
  background: white;
  border: none;
  cursor: pointer;
  padding: 10px 5px 4px 10px;
  height: 30px;
  top: 10px;
  left: 60px;
  /* Add this line to hide the close icon initially */
  display: none;
}

/* Add styles to show the close icon when the 'menu-open' class is applied */
.close:not(.hidden) {
  display: block;
}

/* Add styles to show the menu when the 'menu-open' class is applied */
.menu.menu-open {
  transform: translateY(55px);
  margin-left: 40px;
}


.logo2{
  display: none;
}
.logo{
  margin-left: 120px;
}
.anchors{
  margin-left: 40px;
}
.anchors a{
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
  margin-right: 30px;
  color: gray;
}

.search{
  width: 630px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  margin-left: -15px;
}
.search>img{
  margin-right: 7px;
}
.search input{
  border: none;
  outline: none;
  width: 500px;
}
.menu>small{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  margin-left: -10px;
  margin-top: 10px;
  font-size: 10px;
}
.menu>li{
  /* margin-top: 20px; */
  margin-left: -10px;
}
.menu>li>.home{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.world{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.menu a{
  text-decoration: none;
  font-size: 14px;
  color: rgb(70, 70, 70);
}

.collect{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.world>img{
  margin-right: 10px;
}
.font{
  font-size: 13px;
}

.createacct{
  background-color: #f48225!important;
  border: none!important;
}
.login{
  background-color: #e1ecf4!important;
}


.blackboard{
  background-image: url(/images/stackimg04.svg);
  width: 100%;
  height: 140vh;

}
.bubble{
  background-color: #fee3cd;
  width: 400px;
}
.bubble1{
  background-color: #cde9fe;
  width: 400px;
}
.magnify{
  margin-left: 170px;
}

.wob{
  background-color: #f2740d !important;
  margin-left: 100px;
}
.fs{
  font-size: 20px !important;
}

.flexMat{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
.wob2{
  margin-left: 100px;
}
.content{
  font-size: 14px;
}
.overflow{
  font-size: 50px;
  padding: 30px;
  font-weight: bold;
}
.overflo{
  padding: 0px 20px;
}
.overflo>h3{
  font-size: 17px;
  font-weight: bold;
}
.overflo>p{
  font-size: 13px;
  color: grey;
  width: 200px;
}
.cards1{
  background:linear-gradient(rgb(255, 255, 255) 20%,rgb(254,232,215) 80%) !important;
  padding: 50px;
  width: 500px !important;
  border-radius: 20px;
  position: relative;
  top: -150px;
  
}

.card2{
  background:linear-gradient(rgb(255, 255, 255) 20%,rgb(205,233,254) 80%) !important;
  padding: 50px;
  width: 500px !important;
  border-radius: 20px;
  position: relative;
  top: -150px;
  
}
 .cardtext>h2{
  font-size: 27px;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
  padding: 0px 30px;
 }
 .cardtext>p{
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  padding: 5px 20px;
 }

 .wob3{
  background-color: #f2740d !important;
  font-family: 'Roboto Slab', sans-serif;
}
.wob4{
  background-color: #0d6efd !important;
  font-size: 15px !important;
  font-family: 'Roboto Slab', sans-serif;
}

.camel>a,p{
  text-align: center;
}
.getStarted{
  padding: 0px 100px;
  text-align: center;
}
.gettext{
  position: relative;
  top: 25px;
  /* border: 2px solid red; */
  background-color: rgb(205,233,254);
  z-index: 99;
  padding: 10px;
  
}

.main2{
  display: none;
}
.curve{
  border-radius: 130px 130px 0px 0px;
  background-color: white;
  position: relative;
  top: -100px;
}
.Thousands{
  font-size: 18px;
  color: #6a7287;
}

.mbotom{
  margin-bottom: 50px !important;
}

.index{
  z-index: 50;
  position: relative;
  bottom: 50px;
}
.main4{
  padding: 0px 50px;
}
.section3{
  height: fit-content;
  position: relative;
  bottom: 100px;
  padding: 0px 100px;
}
.fontfamily{
  font-family: 'Roboto Slab', sans-serif;
}
.forTeam{
  margin-top: 100px;
}
.captureContainer{
  padding: 30px 100px;
  margin-top: 30px;
}

.captureYourCompany{
  font-size: 26px;
  padding: 0px 250px;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
}
.captureYourCompany>span{
  color: #f2740d;
}
.buttonBlue{
  width: 200px;
}
.animation1{
  width: 300px;
  padding: 10px;
}
.animation1>h5{
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
}
.animation1>p{
  color: #c9c9c9;
}
.devops{
  padding: 10px;
  width: 150px;
}
.devops1{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding:10px;
 
}

.middle{
  background-color: #2c3242;
  padding: 30px 10px;
  width: 400px !important;
  height: 350px;
  position: relative;
  bottom: 10px;
}

.form-switch{
  margin-left: -150px;
}
.free{
  width: 350px;
  height: 550px;
}
.fontbig{
  font-size: 30px;
}
.freebod{
  border-bottom: 1px solid #f2740d;
}
.freebod>h6{
  color: #b9b9b9;
}
.frecon{
  background-color: #f2740d;
  width: 50px;
  height: 30px;
}

.frecon1{
  background-color: grey;
  width: 50px;
  height: 30px;
}
.frecon2{
  background-color: rgb(54, 53, 53);
  width: 100px;
  height: 30px;
}

.frecon3{
  background-color: rgb(9, 22, 204);
  width: 100px;
  height: 30px;
}
.fresmall{
  font-size: 14px;
}
.freebtn{
  background-color: #f2740d;
  width: 100%;
  border: none;
  margin-top: 100px;
}

.freebtn1{
  background-color: rgb(219, 217, 217);
  width: 100%;
  border: none;
  margin-top: 40px;
}
.freebtn2{
  background-color: rgb(44, 43, 43);
  width: 100%;
  border: none;
  margin-top: 10px;
}
.freebtn3{
  background-color:  rgb(9, 22, 204);
  width: 100%;
  border: none;
  margin-top: 10px;
}
.business{
  position: relative;
  bottom: 50px;
}













@media screen and (max-width: 475px) {

 body,html{
  overflow-x: hidden;
 }

  .login{
    background-color: #e1ecf4!important;
  }
  nav{
    border-top: 2px solid #f48225;
    width: 100%;
    background-color: #fff;
    display: inline-block;
   z-index: 99;
    border-bottom: 1px solid rgb(194, 194, 194);
    position: fixed;
  
  }
  .logo2>img{
    margin-left: -10px;
    margin-right: 10px;
  }
  .anchors a{
    display: none;
  }

  .hamburger{
    margin-left: -50px;
    margin-right: 20px!important;
  }
  .search{
    border:none;
  }
  
  .search img{
    display: inline-block;
    margin-left: -2px;
    margin-right: -5px;
  }
  .search input{
    display: none;
  }
  
  .product{
    display: inline-block!important;
    margin-left: -44px!important;
    font-size: 13px!important;
  
  }

  .menu {
    position: fixed;
    /* give the menu a larger z-index than the ham link
    to put the menu above it */
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    height: 100vh;
    /* basic menu styling*/
    list-style: none;
    background: white;
    display: flex;
    flex-direction: column;
    /* animate slide left/right */
    transform: translateX(-200%);
    transition: linear 0.5s ease-out;
    padding: 20px;
    overflow-y:scroll;
  
  }



/* Add a class to hide the close icon initially */
.close {
  position: absolute;
  /* a large z-index puts the ham button above the rest of the page*/
  z-index: 99;
  background: white;
  border: none;
  cursor: pointer;
  padding: 10px 5px 4px 10px;
  height: 30px;
  top: 10px;
  left: 0px;
  /* Add this line to hide the close icon initially */
  display: none;
}

/* Add styles to show the close icon when the 'menu-open' class is applied */
.close:not(.hidden) {
  display: block;
  margin-left: 20px;
}

/* Add styles to show the menu when the 'menu-open' class is applied */
.menu.menu-open {
  transform: translate(-40px, 60px);
  margin-left: 40px;
}
.logo{
  display: none;
}
.logo2{
  margin-left: 60px;
  display: inline-block;
}

  .main1{
    display: none;
  }
  .main2{
    display: block;
  }

  .blackboard{
    width: 100%;
    height: fit-content;
    margin-top: 70px;
    margin-bottom: 20px;
  
  }
  .magnify{
    margin-left: 100px;
  }

  .wob{
    background-color: #f2740d !important;
    margin-left: 30px;
    width: 100%;
  }
  .wob2{
    margin-left: 30px;
  }
  .bubble>h2{
    font-size: 18px !important;
    font-family: 'Roboto Slab', sans-serif;

  }
  .overflow{
    margin-top: 10px;
    font-size: 33px;
    font-weight: bold;
  }
  .overflow>a{
    text-decoration: none;
    color: #f2740d;
    margin-right: 10px;
  }

  .flexMat{
    display: block;
  }
  .overflo{
    margin-bottom: 25px;
  }
  .curve{
    border-radius: 130px 130px 0px 0px;
    background-color: white;
    position: relative;
    padding: 5px 10px;
    top: 100px;
    padding: 10px;
  }
  .cards1{
    background:linear-gradient(rgb(255, 255, 255) 20%,rgb(254,232,215) 80%) !important;
    padding: 0px 30px;
    width: 100% !important;
    border-radius: 20px;
    display: block;
    margin-bottom: 20px;

  }
  
  .card2{
    background:linear-gradient(rgb(255, 255, 255) 20%,rgb(205,233,254) 80%) !important;
    padding: 0px 30px;
    width: 500px !important;
    border-radius: 20px;
  
    
  }
   .cardtext>h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    padding: 0px 10px;
   }
   .cardtext>p{
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    padding: 5px 20px;
   }
  
   .wob3{
    background-color: #f2740d !important;
    font-family: 'Roboto Slab', sans-serif;
  }
  .wob4{
    background-color: #0d6efd !important;
    font-size: 15px !important;
    font-family: 'Roboto Slab', sans-serif;
  }
  .camel>a,p{
    text-align: center;
  }
  .getStarted{
    padding: 0px 50px;
    text-align: center;
  }
  .gettext{
    position: relative;
    top: 25px;
    /* border: 2px solid red; */
    background-color: rgb(205,233,254);
    z-index: 99;
    padding: 10px;
    
  }

  .main3{
    margin-top: 250px;
  }

  .main4{
    padding: 0 10px;
  }

  .captureContainer{
    width: 100%;
    display: block;
    padding: 0;
  }

  .captureYourCompany{
    padding: 0px;
    font-size: 16px;
  }
  .section3{
    width: 100%;
    padding: 10px 15px 10px 10px;
  }

  .index{
    width: 100%;

  }
  .index>img{
    width: 300px;
    margin-left: 35px;
  }
  .block{
    display: block;
    width: 100%;
  }
  .none{
    display: none;
  }

  .jumpIn{
    display: flex;
    flex-direction: column;
  }

  .smallfo>p{
    font-size: 13px;
  }
  
 .form-switch{
  margin: 10px auto;
 }
 .displayBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 16px;
 }
 .free{
  width: 300px;
  height: 500px;
}
.fontbig{
  font-size: 25px;
}
.freebod{
  border-bottom: 1px solid #f2740d;
}
.freebod>h6{
  color: #b9b9b9;
}
.frecon{
  background-color: #f2740d;
  width: 50px;
  height: 30px;
}

.frecon1{
  background-color: grey;
  width: 50px;
  height: 30px;
}
.frecon2{
  background-color: rgb(54, 53, 53);
  width: 100px;
  height: 30px;
}

.frecon3{
  background-color: rgb(9, 22, 204);
  width: 100px;
  height: 30px;
}
.fresmall{
  font-size: 12px;
}
.freebtn{
  background-color: #f2740d;
  width: 100%;
  border: none;
  margin-top: 10px;
}

.freebtn1{
  background-color: rgb(219, 217, 217);
  width: 100%;
  border: none;
  margin-top: -40px;
}
.freebtn2{
  background-color: rgb(44, 43, 43);
  width: 100%;
  border: none;
  margin-top: -10px;
}
.freebtn3{
  background-color:  rgb(9, 22, 204);
  width: 100%;
  border: none;
  margin-top: -40px;
}
.margine{
  margin-bottom: 50px;
}
.margine1{
  margin-top: -50px;
  margin-left: 4px;
}
.business{
  position: none;
}

}